{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light"">
    <div class="container-fluid">
      <img src="{% static 'logo.png' %}" alt="Drupal Logo" width="30" height="24">
      <a class="navbar-brand" href="#">Meaningless Void</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          {% if request.user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'student_display' %}">Students</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'project_display' %}">Projects1</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'project_display' %}">Projects2</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
          </li>
        </ul>
        <span class="navbar-text" style="color:red;">
            Welcome, {{ request.user.username }}
          {% else %}
            Please login
          {% endif %}
        </span>
      </div>
    </div>
  </nav>